/*css reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/*color fondo del body */

body {
    background-color: darkgray;
}



/*icono*/
.hamburguesa {
    color: black;
    font-size: 30px;
    display: none;
}




a,
li {
    font-family: "Nunito Sans", sans-serif;
    color: black;
    text-decoration: none;
}




.logo-header img {
    width: 300px;

}
/*media query del logo para mobil*/
@media (max-width: 600px) {
    .logo-header img {
        width: 180px;
    }
}

header {
    background-color: rgb(219, 216, 200);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
}

/*estilos del menu de navegacion*/
header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a:hover {
color: rgb(74, 116, 91);

}
.boton-contacto:active{
    border-radius: solid #768d80;
}
.header .nav-menu ul {
    display: flex;
    align-items: center;
}

.nav-menu ul li.submenu {
    position: relative;
}

.nav-menu ul li.submenu ul {
    display: none;
    position: absolute;
    background-color: rgb(219, 216, 200);
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    left: -10px;
    top: 100%;
    padding: 0;
    min-width: 150px;
    z-index: 2000;
}

.nav-menu ul li.submenu ul li {
    padding: 10px;
}

.nav-menu ul li.submenu ul li a {
    display: block;
    padding: 10px 15px;
}

.nav-menu ul li.submenu:hover ul {
    display: block;
}


ul {
    display: flex;
    column-gap: 10px;
    list-style: none;
}


.nav-menu li {
    margin-right: 1.5rem;

}

@media (max-width: 991px) {
    .hamburguesa {
        display: block;
    }

    .nav-menu {
        display: none;
    }
}


section {
    margin: 2rem;
    padding: 2rem;
    text-align: justify;
    font-family: "Nunito Sans", sans-serif;
    color: black;

}

.section {
    background-color: rgb(219, 216, 200);
    padding: 3rem;
    border: #768d80 2px solid;

}

/*estilos del main*/

main.container {
    width: min(1200px, 90%);
    margin: 0 auto;
}

/*estilos del encabezado de las paginas*/
.encabezado {
    font-family: "Nunito Sans", sans-serif;
    color: rgb(12, 63, 55);
    margin-bottom: 2rem;
}


.main-container .section p:last-of-type {
    font-weight: bold;
    color: rgb(49, 51, 77);
}

/*estilos de las imagenes con grid*/
section .muebles-grilla img {
    width: 100%;
    height: auto;
    display: block;
    border: rgb(12, 63, 55) 2px solid;
    


}

section .muebles-grilla {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
    

}

/*estilo paginas*/


/*estilo del formulario de contacto*/
.contacto {
    background-color: rgb(219, 216, 200);
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    color: black;
    padding: 2rem;
    border: rgb(12, 63, 55) 2px solid;
    margin-left: 300px;
    margin-right: 300px;
}
input:focus-visible {
outline: 3px solid  rgb(12, 63, 55);
outline-offset: 2px;
border-color:  rgb(12, 63, 55);
}

button:active {
background-color:  rgb(12, 63, 55);
transform: scale(0.95); 
}

/* responsivo formulario de contacto */

@media (max-width: 768px) {
    .contacto {
        margin-left: 20px;
        margin-right: 20px;
    }
}

/*seccion grilla pag. muebles */
section .fotos-muebles img {
    width: 100%;
    height: auto;
    display: block;
    border: rgb(12, 63, 55) 2px solid;
    


}

section .fotos-muebles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
   

    
}

section .fotos-muebles img {
    transition: transform 0.3s ease;
    cursor: pointer;
}

section .fotos-muebles img:active {
    transform: scale(1.90);
}


/*grilla pagina asientos*/
.section-fotos .asientos img{
    width: 100%;
    height: auto;
    display: block;
    border: rgb(12, 63, 55) 2px solid;
    

}

.section-fotos .asientos{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

/*estilos del main*/

main {

    min-height: 70vh;
    margin: 2rem;
    padding: 2rem;
}

/*estilos del footer*/
footer {
    background-color: rgb(219, 216, 200);

    padding: 1rem;
    justify-content: space-between;

    margin-right: 20px;
    color: rgb(0, 0, 0);
}

.redes-sociales {
    text-align: right;
}

.redes-sociales a {
    margin-left: 10px;
    color: black;
    font-size: 20px;
}


footer p {
    text-align: left;
    font-family: "Nunito Sans", sans-serif;
    color: black;
}
footer a:hover {
    color: rgb(74, 116, 91);
    
    }

/*estilos responsivos*/
@media (max-width: 768px) {
    section .muebles-grilla {
        grid-template-columns: 1fr;
    }

    section .fotos-muebles {
        grid-template-columns: 1fr;
    }

    .section-fotos .asientos {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 600px) {
    footer {
        text-align: center;
    }

    .redes-sociales {
        text-align: center;
        margin-top: 1rem;
    }
}




